/* Overall body style, ensures when you change size of window,
it does not get too small but that it does change size */
article {
  background-color: #fffefc;
}

body {
  width: 70%;
  max-width: 60em;
  min-width: 20em;
  margin: auto;
  padding: 0 1em 0 1em;
  color: #3a1200;
  font-family: "Goudy Old Style", Baskerville;
}

/* Able to establish columns for larger screen sizes*/
.text ul{
  list-style: none;
  padding-left: 0;
}
.text .col {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

/* Header picture styling */
.headerpic {
  max-width:60%;
  vertical-align: middle;

  display: block;
  margin: 0 auto;
}

/* Header styling */
header {
  display: block;
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 0 2cm .5cm 2cm;
}

/* looks at description list within header */
header dl {
  display: inline-block;
  margin: auto;
  padding: 0 1em 0 1em;
  border-left: .05em solid #000;
  border-right: .05em solid #000;
  text-align: center;
}

/* looks at description title within header */
header dt {
  padding: 0 1em 0 1em;
  margin: 0 0 .5em 0;
  text-align: center;
}

/* looks at description term within header */
header dd{
  margin: 0 0 .5em 0;
}

time, b {
  padding: 0 0 .5em 0;
}

/* Description beneath header styling */
.description {
  margin: auto;
  display: block;
  padding: 0 0 1em 0;
  text-align: center;
  line-height: 2; /* double spaced */
}

/* Hides title "Menu" but still allows navigation to be
identified by menu title */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

/* Navigation styling */
nav {
  margin: auto;
  text-align: center;
  border-top: .05em solid #f9c05c;
  border-bottom: .05em solid #f9c05c;
  padding: 1em;
  color: #000;
}

nav a {
  color: #000;
  display: inline-block;
  letter-spacing: 1.5px;
  word-spacing: 5em;
}

/* Entire body text styling i.e. directions and ingredients */
.text {
  padding: 0em 0em 2em 0em;
  display: inline-block;
}

/* indents ingredients and directions header */
h2 {
  text-indent: 5%
}

/* places stylistic spacing in the list items */
li {
  margin: 0 0 .5em 0;
}

/* flexible or responsive images */
img {
  max-width: 25%;
  max-height: auto;
  min-width: 10em;
  min-height: auto;
}

/* links */
.links {
  margin: 0 0 .5em 0;
}

.text a {
  color: #f9c05c; /*light pink*/
}

.text a:visted {
  color: #000;/*black*/
}

.text a:hover {
  color: #f99;/*tan*/
}

.to-the-top {
  text-align: center;
}

/*adjusting for different sized screens*/

@media (min-width: 40em) {
  .hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }
}

@media (max-width: 40em) {
  .text .col {
    display: block;
    width: 70%;
    vertical-align: top;
  }
}
